.login-page {
  width: 100%;
  height: 100vh;
  background-image: url('./public/17447-1@2x.png');
  background-size: cover;
  background-position: center;
  overflow: auto;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--header-text);
  display: flex;
}

.left-content {
  box-shadow: 0 0 45px #fff inset;
  backdrop-filter: blur(52px);
  border-radius: 0 var(--br-31xl) var(--br-31xl) 0;
  background-color: var(--color-deepskyblue);
  padding: 2.187rem var(--padding-xl) 9.062rem;
  z-index: 1;
  font-size: 2rem;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.globalplacements-logo-wrapper {
  width: 100%;
}

.globalplacements-logo {
  max-width: 304px;
  height: auto;
}

.login-image-wrapper {
  width: 100%;
}

.login-image {
  max-width: 100%;
  height: auto;
}

.login-page-hero-text {
  width: 100%;
}

.recruiting-faculty-and-container {
  font-size: inherit;
  font-style: italic;
  font-weight: 600;
  font-family: inherit;
  height: auto;
}

.faculty-and-nurses,
.recruiting,
.since-1994 {
  margin: 0;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  width: 70%;
}

nav>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.375rem;
  list-style: none;
}

nav>ul>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav>ul>li>span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-us,
.vacancies {
  font-weight: 500;
  display: inline-block;
  min-width: 5.313rem;
  z-index: 1;
}

.vacancies {
  left: 54.5rem;
  min-width: 5.75rem;
}

.company {
  left: 45.438rem;
  display: inline-block;
  min-width: 5.563rem;
}

.company,
.education-sector,
.health-sector {
  font-weight: 500;
  z-index: 1;
}

.health-sector {
  left: 62.25rem;
  display: inline-block;
  min-width: 7.813rem;
}

.education-sector {
  left: 72.063rem;
}

.icon {
  width: 111.5rem;
  height: 69.688rem;
  object-fit: contain;
}

.image-13-icon,
.ouiarrow-up-icon,
.ouiarrow-up-icon1 {
  width: 7rem;
  height: 7.938rem;
  object-fit: contain;
  z-index: 1;
}

.ouiarrow-up-icon,
.ouiarrow-up-icon1 {
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}


.iconamoonprofile-fill,
.material-symbolssettings-icon {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  z-index: 1;
}

.global-placements-is {
  font-size: var(--header-text-size);
  font-weight: 600;
  width: 40.063rem;
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .recruiting-faculty-and-container {
    font-size: 1.625rem;
  }
}

@media screen and (max-width: 450px) {

  .global-placements-is,
  .recruiting-faculty-and-container {
    font-size: var(--font-size-lgi);
  }
}

.login-wrapper-parent {
  position: relative;
  box-shadow: -4px -4px 17px rgba(234, 234, 234, 0.08),
    4px 4px 17px rgba(0, 0, 0, 0.16);
  border-radius: var(--br-11xl);
  border-top: 1px solid var(--color-lavender);
  border-left: 1px solid var(--color-lavender);
  border-right: 1px solid var(--color-lavender);
  background: linear-gradient(115.13deg,
      rgba(1, 180, 184, 0.3) 5.04%,
      rgba(1, 93, 119, 0.3) 51.8%,
      rgba(0, 17, 61, 0.3) 92.88%);
  width: 36.188rem;
  height: 24.688rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) 2.125rem 3.562rem var(--padding-21xl);
}

.log-in-wrapper {
  flex: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.form-styles {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  height: 100%;
}

.input-field {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  height: 4.188rem;
  font-size: 24px;
  padding-left: 8px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.frame-button {
  border-radius: var(--br-5xs);
  height: 50px;
  width: 80%;
  font-family: var(--header-text);
  font-weight: 600;
  text-transform: none;
  color: #fff;
  font-Size: 24px;
  cursor: pointer;
  background-color: #00153c;
}

.frame-button:hover {
  background-color: #00153c;
}