.image-12-icon {
  height: 57px;
  width: 55px;
  position: relative;
  object-fit: cover;
}

.image-12-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-14xl);
}

.material-symbols-lighthome-ou-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.frame-child {
  position: absolute;
  top: 32px;
  left: 0;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 24px;
  height: 1px;
}

.material-symbols-lighthome-ou-parent {
  height: 33px;
  width: 24px;
  position: relative;
}

.main-menu-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) var(--padding-6xs) var(--padding-smi);
}

.grommet-iconsprojects {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.frame-item {
  position: absolute;
  top: 32px;
  left: 0;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 24px;
  height: 1px;
}

.grommet-iconsprojects-parent {
  height: 33px;
  width: 24px;
  position: relative;
}

.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 4px 0 var(--padding-5xs);
}

.frame-inner {
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 0 !important;
  top: 2px;
  left: -2px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.bxsdata-icon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}

.ellipse-parent,
.line-div {
  box-sizing: border-box;
  position: relative;
}

.line-div {
  width: 20px;
  height: 1px;
  border-top: 1px solid var(--color-darkslategray-200);
  z-index: 1;
}

.ellipse-parent {
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs);
  gap: 8px;
}

.frame-parent,
.main-menu-child {
  display: flex;
  justify-content: flex-start;
}

.frame-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-lgi);
}

.main-menu-child {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 14px 0 var(--padding-8xs);
}

.fluent-mdl2website-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.frame-child1 {
  position: absolute;
  top: 32px;
  left: 0;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 24px;
  height: 1px;
}

.fluent-mdl2website-parent {
  height: 33px;
  width: 24px;
  position: relative;
}

.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) var(--padding-6xs) var(--padding-smi);
}

.material-symbolsdelete-outlin-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.frame-child2 {
  position: absolute;
  top: 32px;
  left: 0;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 24px;
  height: 1px;
}

.material-symbolsdelete-outlin-parent {
  width: 24px;
  height: 33px;
  position: relative;
}

.ant-designdatabase-outlined-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.frame-child3 {
  position: absolute;
  top: 32px;
  left: 0;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 24px;
  height: 1px;
}

.ant-designdatabase-outlined-parent {
  width: 24px;
  height: 33px;
  position: relative;
}

.iconoirsettings-profiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.frame-child4 {
  position: absolute;
  top: 32px;
  left: 0;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 24px;
  height: 1px;
}

.iconoirsettings-profiles-parent {
  width: 24px;
  height: 33px;
  position: relative;
}

.frame-group,
.main-menu-inner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-group {
  flex-direction: column;
  gap: 27px;
}

.main-menu-inner1 {
  flex-direction: row;
  padding: 0 var(--padding-lg) var(--padding-6xs) var(--padding-smi);
}

.frame-child5,
.mditick-icon {
  position: absolute;
  left: 0;
  width: 24px;
}

.mditick-icon {
  top: 0;
  height: 24px;
  overflow: hidden;
}

.frame-child5 {
  top: 32px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1px;
}

.mditick-parent {
  height: 33px;
  width: 24px;
  position: relative;
}

.main-menu-inner2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) var(--padding-6xs) var(--padding-smi);
}

.tablernotification-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.frame-child6 {
  position: absolute;
  top: 32px;
  left: 0;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 24px;
  height: 1px;
}

.tablernotification-parent {
  height: 33px;
  width: 24px;
  position: relative;
}

.main-menu-inner3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 230px var(--padding-smi);
}

.material-symbolssettings-outl-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.material-symbolssettings-outl-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) var(--padding-xl);
}

.fa-solidpower-off-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.fa-solidpower-off-wrapper,
.main-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}

.main-menu {
  background: linear-gradient(90deg, #005f6b, #005f6b 76.5%);
  border: 0.3px solid var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 22px 10px 51px var(--padding-base);
  gap: var(--gap-xl);
}

.rectangle-div {
  height: 86px;
  width: 300px;
  position: relative;
  border-radius: 0 var(--br-xl) 0 var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: none;
}

.heroiconsarrow-up-16-solid {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}

.heroiconsarrow-up-16-solid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}

.leads-data {
  position: relative;
  font-size: var(--header-text-size);
  font-weight: 600;
  font-family: var(--body-text);
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  min-width: 116px;
  z-index: 1;
}

.rectangle-parent {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray-200);
  padding: 35px var(--padding-xl) var(--padding-2xl);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: 0 var(--br-xl) 0 var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.riteam-line-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}

.nurses {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
}

.riteam-line-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.riteam-line-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}

.school-teachers {
  position: relative;
  font-weight: 500;
}

.riteam-line-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.riteam-line-icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}

.lecturers {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 77px;
}

.riteam-line-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}

.frame-container {
  flex-direction: column;
  gap: 40px;
}

.desktop-4,
.desktop-4-inner,
.desktop-4-wrapper,
.frame-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.desktop-4-inner {
  flex-direction: row;
  padding: 0 var(--padding-9xl);
}

.desktop-4,
.desktop-4-wrapper {
  flex-direction: column;
}

.desktop-4 {
  align-self: stretch;
  border-radius: 0 var(--br-xl) 0 0;
  background-color: var(--color-darkslategray-200);
  overflow: hidden;
  padding: 0 0 750px;
  gap: 48px;
}

.desktop-4-wrapper {
  width: 320px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}

.nurses1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.nurses-wrapper {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}

.mdiplus-circle-outline-icon,
.tablersearch-icon {
  min-height: 24px;
}

.material-symbolsnotifications-icon,
.mdiplus-circle-outline-icon,
.tablersearch-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.material-symbolsnotifications-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
}

.admin {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 55px;
}

.frame-wrapper1,
.tablersearch-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.tablersearch-parent {
  flex-direction: row;
  gap: var(--gap-xl);
}

.frame-wrapper1 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}

.ellipse-icon {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}

.frame-parent3,
.frame-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.frame-parent4 {
  justify-content: flex-start;
  gap: 42px;
  font-size: var(--sub-header-size);
}

.frame-parent3 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.frame-child7 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
}

.frame-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-2xs);
}

.country-1,
.projects {
  position: relative;
  display: inline-block;
}

.projects {
  width: 90px;
  font-weight: 500;
}

.country-1 {
  min-width: 66px;
}

.country-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-5xs);
}

.frame-child8 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
}

.frame-input,
.line-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-input {
  width: 109px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--body-text);
  font-size: var(--body-text-size);
  color: var(--color-darkslategray-200);
}

.line-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-2xs);
}

.frame-child9 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
}

.frame-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}

.country-3 {
  position: relative;
  display: inline-block;
  min-width: 69px;
}

.country-3-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
}

.frame-child10 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
}

.country-4 {
  position: relative;
  display: inline-block;
  min-width: 70px;
}

.country-4-wrapper,
.line-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.country-4-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-xl);
}

.line-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-2xs);
}

.frame-child11 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
}

.frame-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}

.country-5 {
  position: relative;
  display: inline-block;
  min-width: 69px;
}

.country-5-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
}

.frame-child12 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
}

.country-6 {
  position: relative;
  display: inline-block;
  min-width: 69px;
}

.country-6-wrapper,
.line-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.country-6-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-xl);
}

.line-container {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-2xs);
}

.frame-child13 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
}

.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}

.country-7 {
  position: relative;
  display: inline-block;
  min-width: 69px;
}

.country-7-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
}

.frame-child14 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
}

.frame-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}

.country-8 {
  position: relative;
  display: inline-block;
  min-width: 70px;
}

.country-8-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
}

.frame-child15 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkslategray-100);
  box-sizing: border-box;
}

.iconamoonarrow-up-2-bold {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}

.iconamoonarrow-up-2-bold-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}

.div {
  position: relative;
  display: inline-block;
  min-width: 6px;
}

.wrapper {
  flex: 1;
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 9px var(--padding-8xs);
}

.div1 {
  position: relative;
  display: inline-block;
  min-width: 8px;
}

.container {
  flex: 1;
  border: 1px solid var(--color-darkslategray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-5xs) var(--padding-8xs);
  color: #000;
}

.iconamoonarrow-up-2-bold1 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}

.iconamoonarrow-up-2-bold-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}

.frame-parent12,
.frame-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.frame-parent12 {
  width: 118px;
  justify-content: flex-start;
  gap: 6px;
}

.frame-wrapper2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 92px;
  color: var(--color-white);
}

.frame-parent11,
.frame-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-parent11 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-lgi);
}

.frame-parent7 {
  gap: var(--gap-2xs);
}

.frame-parent5,
.frame-parent7,
.projects-parent {
  align-self: stretch;
  flex-direction: column;
}

.frame-parent5 {
  box-shadow: 4px 4px 4px rgba(219, 219, 219, 0.8);
  border: 0.3px solid var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 27px 11px var(--padding-6xs) var(--padding-xl);
  gap: var(--gap-2xs);
  font-size: var(--body-text-size);
}

.projects-parent {
  gap: var(--gap-base);
  font-size: var(--sub-header-size);
}

.frame-parent1,
.leads-data-1,
.leads-data-1-inner,
.projects-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-parent1 {
  align-self: stretch;
  flex-direction: column;
  gap: 39px;
}

.leads-data-1,
.leads-data-1-inner {
  box-sizing: border-box;
  text-align: left;
  font-family: var(--body-text);
}

.leads-data-1-inner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xl) 0 0;
  min-width: 665px;
  max-width: 100%;
  font-size: var(--header-text-size);
  color: var(--color-darkslategray-200);
}

.leads-data-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 0;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
  font-size: var(--sub-header-size);
  color: var(--color-white);
}

@media screen and (max-width: 1125px) {
  .main-menu {
    display: none;
  }

  .leads-data-1 {
    flex-wrap: wrap;
    padding: var(--padding-base) var(--padding-xl) var(--padding-base) var(--padding-base);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1050px) {
  .main-menu {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }

  .desktop-4 {
    padding-bottom: 487px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 750px) {
  .main-menu {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }

  .frame-parent3 {
    flex-wrap: wrap;
  }

  .frame-parent1 {
    gap: var(--gap-lgi);
  }

  .leads-data-1-inner {
    min-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .leads-data {
    font-size: var(--sub-header-size);
  }

  .desktop-4 {
    gap: 24px;
    padding-bottom: 317px;
    box-sizing: border-box;
  }

  .nurses1 {
    font-size: var(--sub-header-size);
  }

  .frame-parent4 {
    gap: 21px;
  }
}

.countries {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 6.25rem;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem 0 0;
}

.icbaseline-plus-icon {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.upload-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.25rem 0 0;
}

.upload {
  text-decoration: none;
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: Montserrat;
  color: #005f6b;
  text-align: left;
  display: inline-block;
  min-width: 4.688rem;
}

.upload-action,
.upload-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.upload-action {
  cursor: pointer;
  border: 0;
  padding: 0.25rem 0.25rem 0.125rem;
  background-color: transparent;
  border-radius: 12px;
  border-bottom: 1px solid #005f6b;
  justify-content: flex-start;
  gap: 0.625rem;
}

.upload-title {
  width: 100%;
  justify-content: space-between;
  padding: 0 1.25rem 0 0;
  box-sizing: border-box;
  gap: 1.25rem;
  max-width: 100%;
}