/* Global Styles */

body {
    margin: 0;
    line-height: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* fonts */
    --text-text-base: Inter;
    --body-text: Montserrat;
    --font-segoe-ui: "Segoe UI";

    /* font sizes */
    --text-text-base-size: 0.875rem;
    --sub-header-size: 1rem;
    --header-text-size: 1.25rem;

    /* Colors */
    --colors-white: #fff;
    --colors-grey-4-border: #a6a6a6;
    --color-darkslategray-100: #00606b;
    --color-darkslategray-200: #005f6b;
    --colors-black-1-primary-text: #313131;
    --color-black: #000;
    --color-silver: #c7c7c7;
    --color-gainsboro: #d9d9d9;

    /* Gaps */
    --gap-base: 1rem;
    --gap-47xl: 4.125rem;
    --gap-5xs: 0.5rem;
    --gap-7xs: 0.375rem;
    --gap-9xs: 0.25rem;
    --gap-lg-6: 1.162rem;
    --gap-lg: 1.125rem;
    --gap-30xl: 3.062rem;
    --gap-5xl: 1.5rem;
    --gap-xl: 1.25rem;
    --gap-mid: 1.062rem;
    --gap-xs: 0.75rem;
    --gap-3xs: 0.625rem;

    /* Paddings */
    --padding-xl: 1.25rem;
    --padding-7xs: 0.375rem;
    --padding-2xs: 0.687rem;
    --padding-11xs: 0.125rem;
    --padding-5xs: 0.5rem;
    --padding-xs: 0.75rem;
    --padding-lg: 1.125rem;
    --padding-mid: 1.062rem;
    --padding-9xs: 0.25rem;
    --padding-12xs: 0.062rem;
    --padding-4xl: 1.437rem;
    --padding-6xs: 0.437rem;
    --padding-4xs: 0.562rem;
    --padding-10xs: 0.187rem;
    --padding-base: 1rem;
    --padding-smi: 0.812rem;
    --padding-8xs: 0.312rem;
    --padding-15xl: 2.125rem;

    /* Border radiuses */
    --br-9xs: 4px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('./public/iconamoonarrowup2bold-1.svg');
    background-repeat: no-repeat;
    background-position: right;
    outline: none;
    border: none;
    width: 100%;
}

input[type="date"] {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background: url('./public/solarcalendarlinear.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #dcdbdb;
    height: 0.3rem;
    border-radius: 10px;
}


input[type="range"]::-moz-range-track {
    background: #dcdbdb;
    height: 0.3rem;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: var(--color-darkslategray-200);
    cursor: pointer;
    margin-top: -0.45rem;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: var(--color-darkslategray-200);
    cursor: pointer;
    margin-top: -0.45rem;
}

.enrollers {
    position: absolute;
    top: 0;
    left: 2.125rem;
    font-weight: 500;
}

.frame-child,
.frame-item {
    position: absolute;
    border-radius: 50%;
}

.frame-child {
    top: 0.063rem;
    left: 0;
    background-color: var(--color-gainsboro);
    width: 1.375rem;
    height: 1.375rem;
}

.frame-item {
    top: 0.188rem;
    left: 0.125rem;
    background-color: var(--color-darkslategray-200);
    border: 0 solid var(--colors-white);
    box-sizing: border-box;
    width: 1.125rem;
    height: 1.125rem;
}

.enrollers-parent {
    height: 1.5rem;
    width: 7.75rem;
    position: relative;
    display: none;
}

.registrars {
    position: absolute;
    top: 0;
    left: 2.125rem;
    font-weight: 500;
}

.ellipse-div,
.frame-inner {
    position: absolute;
    border-radius: 50%;
}

.frame-inner {
    top: 0.063rem;
    left: 0;
    background-color: var(--color-gainsboro);
    width: 1.375rem;
    height: 1.375rem;
}

.ellipse-div {
    top: 0.188rem;
    left: 0.125rem;
    border: 0 solid var(--colors-white);
    box-sizing: border-box;
    width: 1.125rem;
    height: 1.125rem;
}

.registrars-parent {
    height: 1.5rem;
    width: 8.563rem;
    position: relative;
    display: none;
}

.image-12-icon {
    height: 3.563rem;
    width: 3.438rem;
    position: relative;
    object-fit: cover;
}

.image-12-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-15xl);
}

.material-symbols-lighthome-ou-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.line-div {
    position: absolute;
    top: 2rem;
    left: 0;
    border-top: 1px solid var(--colors-white);
    box-sizing: border-box;
    width: 1.5rem;
    height: 0.063rem;
}

.material-symbols-lighthome-ou-parent {
    height: 2.063rem;
    width: 1.5rem;
    position: relative;
}

.main-menu-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) var(--padding-5xs) var(--padding-smi);
}

.grommet-iconsprojects {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.frame-child1 {
    position: absolute;
    top: 2rem;
    left: 0;
    border-top: 1px solid var(--colors-white);
    box-sizing: border-box;
    width: 1.5rem;
    height: 0.063rem;
}

.grommet-iconsprojects-parent {
    height: 2.063rem;
    width: 1.5rem;
    position: relative;
}

.main-menu-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) 0 var(--padding-smi);
}

.frame-child2 {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    margin: 0 !important;
    top: 0.125rem;
    left: -0.125rem;
    border-radius: 50%;
    background-color: var(--colors-white);
}

.bxsdata-icon,
.frame-child3 {
    width: 1.25rem;
    position: relative;
    z-index: 1;
}

.bxsdata-icon {
    height: 1.25rem;
    overflow: hidden;
    flex-shrink: 0;
}

.frame-child3 {
    height: 0.063rem;
    border-top: 1px solid var(--color-darkslategray-200);
    box-sizing: border-box;
}

.ellipse-parent,
.frame-div {
    display: flex;
    align-items: flex-start;
}

.ellipse-parent {
    height: 2.75rem;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-5xs);
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-5xs);
}

.frame-div {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0.875rem 0 var(--padding-8xs);
}

.fluent-mdl2website-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.frame-child4 {
    position: absolute;
    top: 2rem;
    left: 0;
    border-top: 1px solid var(--colors-white);
    box-sizing: border-box;
    width: 1.5rem;
    height: 0.063rem;
}

.fluent-mdl2website-parent {
    height: 2.063rem;
    width: 1.5rem;
    position: relative;
}

.main-menu-inner1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) var(--padding-5xs) var(--padding-smi);
}

.material-symbolsdelete-outlin-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.frame-child5 {
    position: absolute;
    top: 2rem;
    left: 0;
    border-top: 1px solid var(--colors-white);
    box-sizing: border-box;
    width: 1.5rem;
    height: 0.063rem;
}

.material-symbolsdelete-outlin-parent {
    height: 2.063rem;
    width: 1.5rem;
    position: relative;
}

.main-menu-inner2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) var(--padding-5xs) var(--padding-smi);
}

.ant-designdatabase-outlined-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.frame-child6 {
    position: absolute;
    top: 2rem;
    left: 0;
    border-top: 1px solid var(--colors-white);
    box-sizing: border-box;
    width: 1.5rem;
    height: 0.063rem;
}

.ant-designdatabase-outlined-parent {
    height: 2.063rem;
    width: 1.5rem;
    position: relative;
}

.main-menu-inner3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) var(--padding-5xs) var(--padding-smi);
}

.iconoirsettings-profiles {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.frame-child7 {
    position: absolute;
    top: 2rem;
    left: 0;
    border-top: 1px solid var(--colors-white);
    box-sizing: border-box;
    width: 1.5rem;
    height: 0.063rem;
}

.iconoirsettings-profiles-parent {
    height: 2.063rem;
    width: 1.5rem;
    position: relative;
}

.main-menu-inner4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) var(--padding-5xs) var(--padding-smi);
}

.frame-child8,
.mditick-icon {
    position: absolute;
    left: 0;
    width: 1.5rem;
}

.mditick-icon {
    top: 0;
    height: 1.5rem;
    overflow: hidden;
}

.frame-child8 {
    top: 2rem;
    border-top: 1px solid var(--colors-white);
    box-sizing: border-box;
    height: 0.063rem;
}

.mditick-parent {
    height: 2.063rem;
    width: 1.5rem;
    position: relative;
}

.main-menu-inner5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) var(--padding-5xs) var(--padding-smi);
}

.tablernotification-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.frame-child9 {
    position: absolute;
    top: 2rem;
    left: 0;
    border-top: 1px solid var(--colors-white);
    box-sizing: border-box;
    width: 1.5rem;
    height: 0.063rem;
}

.tablernotification-parent {
    height: 2.063rem;
    width: 1.5rem;
    position: relative;
}

.main-menu-inner6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) 20.625rem var(--padding-smi);
}

.material-symbolssettings-outl-icon {
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.material-symbolssettings-outl-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xs) 1.312rem;
}

.fa-solidpower-off-icon {
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.fa-solidpower-off-wrapper,
.main-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.fa-solidpower-off-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-xs);
}

.main-menu {
    background: linear-gradient(90deg, #005f6b, #005f6b 76.5%);
    /* border: 0.3px solid var(--colors-white); */
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-4xl) 0.625rem 3.25rem var(--padding-base);
    gap: 1.187rem;
}

.nursesproject-1 {
    text-decoration: none;
    width: 10.375rem;
    position: relative;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    white-space: nowrap;
}

.iconamoonarrow-up-2-bold {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
}

.nursesproject-1-parent {
    align-self: stretch;
    border-radius: 8px;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-xl) var(--padding-8xs) var(--padding-base);
    gap: var(--gap-xl);
}

.frame-wrapper1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
}

.magefilter-icon,
.material-symbolsnotifications-icon,
.mdiplus-circle-outline-icon,
.tablersearch-icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 1.5rem;
}

.tablersearch-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
}

.admin {
    text-decoration: none;
    position: relative;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    min-width: 3.438rem;
}

.frame-parent2,
.frame-wrapper2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-parent2 {
    align-self: stretch;
    flex-direction: row;
    gap: 1.75rem;
}

.frame-wrapper2 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-smi) 0 0;
}

.ellipse-icon {
    height: 3.125rem;
    width: 3.125rem;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
}

.frame-container,
.frame-parent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-parent1 {
    width: 20.688rem;
    gap: 2.625rem;
    font-size: var(--sub-header-size);
}

.frame-container {
    align-self: stretch;
    gap: 4.375rem;
    text-align: left;
    font-size: var(--header-text-size);
    color: var(--color-darkslategray-200);
    font-family: var(--font-segoe-ui);
}

.frame-child10 {
    height: 0.063rem;
    position: relative;
    border-top: 1px dashed var(--color-darkslategray-100);
    box-sizing: border-box;
    width: 100%;
}

.frame-group,
.frame-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-group {
    flex: 1;
    flex-direction: column;
    gap: 0.687rem;
}

.frame-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-lg) var(--padding-10xs) var(--padding-xl);
    box-sizing: border-box;
}

.status-group {
    justify-content: flex-start;
    gap: var(--gap-5xs);
    color: var(--color-silver);
}

/* Paginaton styles starts from here */

.icon-heroicons-mini-https {
    width: 1rem;
    height: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.icon-heroicons-mini-https-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
}

.back {
    position: relative;
    font-size: var(--text-text-base-size);
    line-height: 1.25rem;
    font-family: var(--text-text-base);
    color: var(--colors-black-1-primary-text);
    text-align: left;
    display: inline-block;
    min-width: 2.063rem;
}

.pagination-control {
    cursor: pointer;
    border: 1px solid var(--colors-grey-4-border);
    padding: var(--padding-7xs) var(--padding-2xs);
    background-color: var(--colors-white);
    flex: 1;
    border-radius: var(--br-9xs);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    min-width: 3.125rem;
}

.div13 {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 0.438rem;
}

.pagination-page {
    width: 1.938rem;
    border-radius: var(--br-9xs);
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey-4-border);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-2xs);
}

.b {
    position: relative;
    line-height: 1.25rem;
    font-weight: 700;
    display: inline-block;
    min-width: 0.563rem;
}

.pagination-page1 {
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-200);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xs);
    color: var(--colors-white);
}

.div14 {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 0.563rem;
}

.pagination-page2 {
    width: 2.063rem;
    border-radius: var(--br-9xs);
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey-4-border);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-2xs);
}

.icon-heroicons-mini-https1 {
    width: 1rem;
    height: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.pagination-page3 {
    height: 2.25rem;
    width: 1.938rem;
    border-radius: var(--br-9xs);
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey-4-border);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-7xs);
}

.div15 {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 1.063rem;
}

.pagination-page4 {
    width: 2.563rem;
    border-radius: var(--br-9xs);
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey-4-border);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) var(--padding-2xs);
}

.next {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 2rem;
}

.icon-heroicons-mini-https2 {
    width: 1rem;
    height: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.icon-heroicons-mini-https-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
}

.pagination-control-parent,
.pagination-control1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.pagination-control1 {
    border-radius: var(--br-9xs);
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey-4-border);
    box-sizing: border-box;
    padding: var(--padding-7xs) var(--padding-2xs);
    gap: var(--gap-9xs);
    min-width: 3.125rem;
}

.pagination-control-parent {
    gap: var(--gap-7xs);
    min-width: 14.563rem;
    max-width: 100%;
}

.result-per-page {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 6.5rem;
}

.result-per-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0 0;
}

.div16 {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 1.125rem;
}

.icon-heroicons-mini-https3 {
    width: 1rem;
    height: 1rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.icon-heroicons-mini-https-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
}

.pagination-result-per-page {
    width: 4.125rem;
    border-radius: var(--br-9xs);
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey-4-border);
    box-sizing: border-box;
    padding: var(--padding-7xs) var(--padding-2xs);
    gap: var(--gap-5xs);
    color: var(--colors-black-1-primary-text);
}

.frame-parent42,
.frame-parent43,
.pagination-result-per-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-parent43 {
    gap: var(--gap-5xs);
    color: var(--color-black);
}

.frame-parent42 {
    width: 37.625rem;
    flex-wrap: wrap;
    gap: var(--gap-47xl);
    max-width: 100%;
}

.frame-parent,
.frame-wrapper18 {
    align-self: stretch;
    max-width: 100%;
}

.frame-wrapper18 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 11.437rem;
    box-sizing: border-box;
    color: var(--colors-black-1-primary-text);
    font-family: var(--text-text-base);
}

.frame-parent {
    flex-direction: column;
    gap: var(--gap-base);
    text-align: left;
    font-size: var(--text-text-base-size);
    color: var(--color-black);
    font-family: var(--body-text);
}

.frame-parent,
.leads-data-2,
.leads-data-2-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.leads-data-2-inner {
    flex: 1;
    flex-direction: column;
    padding: 1.75rem 0 0;
    box-sizing: border-box;
    max-width: calc(100% - 81px);
}

.leads-data-2 {
    width: 100%;
    position: relative;
    background-color: var(--colors-white);
    overflow: hidden;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--sub-header-size);
    color: var(--color-black);
    font-family: var(--font-segoe-ui);
}

@media screen and (max-width: 1200px) {
    .main-menu {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-15xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1050px) {

    .frame-parent19,
    .frame-parent23,
    .frame-parent25,
    .frame-parent27,
    .frame-parent30,
    .frame-parent32,
    .frame-parent34,
    .frame-parent37,
    .frame-parent39,
    .frame-parent41 {
        flex-wrap: wrap;
    }

    .frame-wrapper18 {
        padding-left: 5.688rem;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 750px) {
    .main-menu {
        padding-bottom: 1.375rem;
        box-sizing: border-box;
    }

    .frame-container {
        gap: 2.188rem;
    }

    .frame-parent20 {
        flex-wrap: wrap;
        gap: 1.688rem;
    }

    .frame-wrapper10,
    .frame-wrapper12,
    .frame-wrapper13,
    .frame-wrapper14,
    .frame-wrapper15,
    .frame-wrapper16,
    .frame-wrapper17,
    .frame-wrapper7,
    .frame-wrapper8 {
        min-width: 100%;
    }

    .frame-parent42 {
        gap: 2.063rem;
    }
}

@media screen and (max-width: 450px) {
    .main-menu-inner6 {
        padding-bottom: 13.375rem;
        box-sizing: border-box;
    }

    .frame-parent1 {
        gap: 1.313rem;
    }

    .frame-container {
        gap: var(--gap-mid);
    }

    .search {
        font-size: var(--sub-header-size);
    }

    .frame-parent23,
    .frame-parent25,
    .frame-parent27,
    .frame-parent30,
    .frame-parent32,
    .frame-parent34,
    .frame-parent37,
    .frame-parent39,
    .frame-parent41 {
        gap: var(--gap-5xl);
    }

    .pagination-control-parent {
        flex-wrap: wrap;
    }

    .frame-parent42 {
        gap: var(--gap-base);
    }

    .frame-wrapper18 {
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }
}


/* styles container */



.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid black;
    align-self: stretch;
    border-radius: var(--br-9xs);
    padding: var(--padding-5xs) 2.937rem var(--padding-5xs) var(--padding-xl);
    gap: var(--gap-xl);
}



@media screen and (max-width: 1200px) {
    .main-container {
        padding-right: var(--padding-4xl);
        box-sizing: border-box;
    }
}