<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./leads_page_1.css" />

  <style>
    @font-face {
      font-family: "Montserrat";
      src: url("./public/Montserrat-Regular.ttf");
      font-weight: 400;
    }

    @font-face {
      font-family: "Montserrat";
      src: url("./public/Montserrat-Bold.ttf");
      font-weight: 500;
    }

    @font-face {
      font-family: "Montserrat";
      src: url("./public/Montserrat-SemiBold.ttf");
      font-weight: 600;
    }
  </style>
</head>

<body>
  <div class="leads-data-1">
    <div class="main-menu">
      <div class="image-12-wrapper">
        <img class="image-12-icon" loading="lazy" alt="" src="./public/image-12@2x_copy.png" />
      </div>
      <div class="main-menu-inner">
        <div class="material-symbols-lighthome-ou-parent">
          <img class="material-symbols-lighthome-ou-icon" loading="lazy" alt=""
            src="./public/materialsymbolslighthomeoutline.svg" />

          <div class="frame-child"></div>
        </div>
      </div>
      <div class="main-menu-child">
        <div class="frame-parent">
          <div class="frame-wrapper">
            <div class="grommet-iconsprojects-parent">
              <img class="grommet-iconsprojects" loading="lazy" alt="" src="./public/grommeticonsprojects.svg" />

              <div class="frame-item"></div>
            </div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-inner"></div>
            <img class="bxsdata-icon" loading="lazy" alt="" src="./public/bxsdata.svg" />

            <div class="line-div"></div>
          </div>
        </div>
      </div>
      <div class="frame-div">
        <div class="fluent-mdl2website-parent">
          <img class="fluent-mdl2website-icon" loading="lazy" alt="" src="./public/fluentmdl2website.svg" />

          <div class="frame-child1"></div>
        </div>
      </div>
      <div class="main-menu-inner1">
        <div class="frame-group">
          <div class="material-symbolsdelete-outlin-parent">
            <img class="material-symbolsdelete-outlin-icon" loading="lazy" alt=""
              src="./public/materialsymbolsdeleteoutline.svg" />

            <div class="frame-child2"></div>
          </div>
          <div class="ant-designdatabase-outlined-parent">
            <img class="ant-designdatabase-outlined-icon" loading="lazy" alt=""
              src="./public/antdesigndatabaseoutlined.svg" />

            <div class="frame-child3"></div>
          </div>
          <div class="iconoirsettings-profiles-parent">
            <img class="iconoirsettings-profiles" loading="lazy" alt="" src="./public/iconoirsettingsprofiles.svg" />

            <div class="frame-child4"></div>
          </div>
        </div>
      </div>
      <div class="main-menu-inner2">
        <div class="mditick-parent">
          <img class="mditick-icon" loading="lazy" alt="" src="./public/mditick.svg" />

          <div class="frame-child5"></div>
        </div>
      </div>
      <div class="main-menu-inner3">
        <div class="tablernotification-parent">
          <img class="tablernotification-icon" loading="lazy" alt="" src="./public/tablernotification.svg" />

          <div class="frame-child6"></div>
        </div>
      </div>
      <div class="material-symbolssettings-outl-wrapper">
        <img class="material-symbolssettings-outl-icon" loading="lazy" alt=""
          src="./public/materialsymbolssettingsoutline.svg" />
      </div>
      <div class="fa-solidpower-off-wrapper">
        <img class="fa-solidpower-off-icon" loading="lazy" alt="" src="./public/fasolidpoweroff.svg" />
      </div>
    </div>
    <div class="desktop-4-wrapper">
      <div class="desktop-4">
        <button class="rectangle-parent">
          <div class="rectangle-div"></div>
          <div class="heroiconsarrow-up-16-solid-wrapper">
            <img class="heroiconsarrow-up-16-solid" alt="" src="./public/heroiconsarrowup16solid@2x.png" />
          </div>
          <div class="leads-data">Leads Data</div>
        </button>
        <div class="desktop-4-inner">
          <div class="frame-container">
            <div class="riteam-line-parent">
              <img class="riteam-line-icon" loading="lazy" alt="" src="./public/riteamline.svg" />

              <div class="nurses">Nurses</div>
            </div>
            <div class="riteam-line-group">
              <img class="riteam-line-icon1" alt="" src="./public/riteamline.svg" />

              <div class="school-teachers">School Teachers</div>
            </div>
            <div class="riteam-line-container">
              <img class="riteam-line-icon2" alt="" src="./public/riteamline.svg" />

              <div class="lecturers">Lecturers</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="leads-data-1-inner">
      <div class="frame-parent1">
        <div class="frame-parent2">
          <div class="frame-parent3">
            <div class="nurses-wrapper">
              <h3 class="nurses1">Nurses</h3>
            </div>
            <div class="frame-parent4">
              <div class="frame-wrapper1">
                <div class="tablersearch-parent">
                  <img class="tablersearch-icon" loading="lazy" alt="" src="./public/tablersearch.svg" />

                  <img class="mdiplus-circle-outline-icon" loading="lazy" alt=""
                    src="./public/mdipluscircleoutline.svg" />

                  <div class="material-symbolsnotifications-wrapper">
                    <img class="material-symbolsnotifications-icon" loading="lazy" alt=""
                      src="./public/materialsymbolsnotificationsunreadoutlinesharp.svg" />
                  </div>
                  <div class="admin">Admin</div>
                </div>
              </div>
              <img class="ellipse-icon" loading="lazy" alt="" src="./public/ellipse-18@2x.png" />
            </div>
          </div>
          <div class="frame-child7"></div>
        </div>
        <div class="projects-parent">
          <div class="projects">Projects</div>
          <div class="frame-parent5">
            <div class="country-1-wrapper">
              <div class="country-1">Country 1</div>
            </div>
            <div class="frame-parent6">
              <div class="line-parent">
                <div class="frame-child8"></div>
                <input class="frame-input" placeholder="Country 2" type="text" />
              </div>
              <div class="frame-child9"></div>
            </div>
            <div class="frame-parent7">
              <div class="frame-parent8">
                <div class="country-3-wrapper">
                  <div class="country-3">Country 3</div>
                </div>
                <div class="line-group">
                  <div class="frame-child10"></div>
                  <div class="country-4-wrapper">
                    <div class="country-4">Country 4</div>
                  </div>
                </div>
                <div class="frame-child11"></div>
              </div>
              <div class="frame-parent9">
                <div class="country-5-wrapper">
                  <div class="country-5">Country 5</div>
                </div>
                <div class="line-container">
                  <div class="frame-child12"></div>
                  <div class="country-6-wrapper">
                    <div class="country-6">Country 6</div>
                  </div>
                </div>
                <div class="frame-child13"></div>
              </div>
              <div class="frame-parent10">
                <div class="country-7-wrapper">
                  <div class="country-7">Country 7</div>
                </div>
                <div class="frame-child14"></div>
              </div>
              <div class="frame-parent11">
                <div class="country-8-wrapper">
                  <div class="country-8">Country 8</div>
                </div>
                <div class="frame-child15"></div>
                <div class="frame-wrapper2">
                  <div class="frame-parent12">
                    <div class="iconamoonarrow-up-2-bold-wrapper">
                      <img class="iconamoonarrow-up-2-bold" loading="lazy" alt=""
                        src="./public/iconamoonarrowup2bold@2x.png" />
                    </div>
                    <div class="wrapper">
                      <div class="div">1</div>
                    </div>
                    <div class="container">
                      <div class="div1">2</div>
                    </div>
                    <div class="iconamoonarrow-up-2-bold-container">
                      <img class="iconamoonarrow-up-2-bold1" loading="lazy" alt=""
                        src="./public/iconamoonarrowup2bold-1@2x.png" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>