<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./leads_submission_list.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />

  <style>
    @font-face {
      font-family: "Segoe UI";
      src: url("./public/SEGOEUI.TTF");
      font-weight: 500;
    }

    @font-face {
      font-family: "Segoe UI";
      src: url("./public/segoe-ui-semibold.ttf");
      font-weight: 600;
    }
  </style>
</head>

<body>
  <div class="leads-data-2">
    <div class="enrollers-parent">
      <div class="enrollers">Enrollers</div>
      <div class="frame-child"></div>
      <div class="frame-item"></div>
    </div>
    <div class="registrars-parent">
      <div class="registrars">Registrars</div>
      <div class="frame-inner"></div>
      <div class="ellipse-div"></div>
    </div>
    <div class="main-menu">
      <div class="image-12-wrapper">
        <img class="image-12-icon" loading="lazy" alt="" src="./public/image-12@2x.png" />
      </div>
      <div class="main-menu-inner">
        <div class="material-symbols-lighthome-ou-parent">
          <img class="material-symbols-lighthome-ou-icon" loading="lazy" alt=""
            src="./public/materialsymbolslighthomeoutline.svg" />

          <div class="line-div"></div>
        </div>
      </div>
      <div class="main-menu-child">
        <div class="grommet-iconsprojects-parent">
          <img class="grommet-iconsprojects" loading="lazy" alt="" src="./public/grommeticonsprojects.svg" />
          <div class="frame-child1"></div>
        </div>
      </div>
      <div class="frame-div">
        <div class="ellipse-parent">
          <div class="frame-child2"></div>
          <img class="bxsdata-icon" loading="lazy" alt="" src="./public/bxsdata.svg" />
          <div class="frame-child3"></div>
        </div>
      </div>
      <div class="main-menu-inner1">
        <div class="fluent-mdl2website-parent">
          <img class="fluent-mdl2website-icon" loading="lazy" alt="" src="./public/fluentmdl2website.svg" />
          <div class="frame-child4"></div>
        </div>
      </div>
      <div class="main-menu-inner2">
        <div class="material-symbolsdelete-outlin-parent">
          <img class="material-symbolsdelete-outlin-icon" loading="lazy" alt=""
            src="./public/materialsymbolsdeleteoutline.svg" />
          <div class="frame-child5"></div>
        </div>
      </div>
      <div class="main-menu-inner3">
        <div class="ant-designdatabase-outlined-parent">
          <img class="ant-designdatabase-outlined-icon" loading="lazy" alt=""
            src="./public/antdesigndatabaseoutlined.svg" />
          <div class="frame-child6"></div>
        </div>
      </div>
      <div class="main-menu-inner4">
        <div class="iconoirsettings-profiles-parent">
          <img class="iconoirsettings-profiles" loading="lazy" alt="" src="./public/iconoirsettingsprofiles.svg" />
          <div class="frame-child7"></div>
        </div>
      </div>
      <div class="main-menu-inner5">
        <div class="mditick-parent">
          <img class="mditick-icon" loading="lazy" alt="" src="./public/mditick.svg" />
          <div class="frame-child8"></div>
        </div>
      </div>
      <div class="main-menu-inner6">
        <div class="tablernotification-parent">
          <img class="tablernotification-icon" loading="lazy" alt="" src="./public/tablernotification.svg" />
          <div class="frame-child9"></div>
        </div>
      </div>
      <div class="material-symbolssettings-outl-wrapper">
        <img class="material-symbolssettings-outl-icon" loading="lazy" alt=""
          src="./public/materialsymbolssettingsoutline.svg" />
      </div>
      <div class="fa-solidpower-off-wrapper">
        <img class="fa-solidpower-off-icon" loading="lazy" alt="" src="./public/fasolidpoweroff.svg" />
      </div>
    </div>
    <main class="leads-data-2-inner">
      <section class="frame-parent">

        <!-- Breadcrumbs starts here -->

        <div class="frame-wrapper">
          <div class="frame-group">
            <header class="frame-container">
              <div class="frame-wrapper1">
                <div class="nursesproject-1-parent">
                  <a class="nursesproject-1">Nurses/Project 1</a>
                  <img class="iconamoonarrow-up-2-bold" alt="" src="./public/iconamoonarrowup2bold.svg" />
                </div>
              </div>
              <div class="frame-parent1">
                <div class="frame-wrapper2">
                  <div class="frame-parent2">
                    <div class="tablersearch-parent">
                      <img class="tablersearch-icon" loading="lazy" alt="" src="./public/tablersearch.svg" />
                      <img class="mdiplus-circle-outline-icon" loading="lazy" alt=""
                        src="./public/mdipluscircleoutline.svg" />
                      <img class="material-symbolsnotifications-icon" loading="lazy" alt=""
                        src="./public/materialsymbolsnotificationsunreadoutlinesharp.svg" />
                    </div>
                    <a class="admin">Admin</a>
                  </div>
                </div>
                <img class="ellipse-icon" loading="lazy" alt="" src="./public/ellipse-18@2x.png" />
              </div>
            </header>
            <div class="frame-child10"></div>
          </div>
        </div>



        <div class="main-container">


        </div>


      </section>
    </main>
  </div>
</body>

</html>